body {
    margin: 0px;
    background: url('../images/sunandclouds.png') center top;
}
.memo {
    position:absolute;
    width:110px;
    height:110px;
    border: 6px solid rgba(0, 100, 50, 0.3);
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-color: #9abf32;
    border-radius: 6px;
    -moz-border-radius: 6px;
}
.memo:hover {
    cursor: pointer;
}
#memos {
    position:relative;
    margin: 0 auto;
    top: 40px;
    width:762px;
}
.collected {
    opacity: .1;
    -moz-opacity:.1;
    background-color: pink;
}
