body {
    margin: 0px;
    background: url('../images/sunandclouds.png') center top;
}
.memo {
    position:relative;
    width:110px;
    height:110px;
    background-repeat: no-repeat;
    background-color: #9abf32;
}
.memo-wrap {
    position: absolute;
    border: 5px solid rgba(0, 100, 50, 0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.memo:hover {
    cursor: pointer;
}
#memos {
    position:relative;
    margin: 0 auto;
    top: 30px;
    width:770px;
}
.collected {
    opacity: .1;
    -moz-opacity:.1;
    background-color: pink;
}
